<div class="container">
  <h1>Contacto</h1>

  <div id="texto" #textos>
    <p appResaltado >Pagina de contacto</p>
  </div>

  <!-- <label for="">Slider Size</label>
  <input type="number" [(ngModel)]="widthSlider"/>
  <button (click)="chargeSlider()">Charge</button>
  <button (click)="resetSlider()">Reset</button>

  <div *ngIf="widthToSlider" >
  <slider [anchura]="widthToSlider"
  [etiquetas]="captions"
  (conseguirAutor)="getAutor($event)"
  ></slider>
  </div>
    <div class="container" *ngIf="autor">
      {{autor.name}}
      {{autor.age}}
      {{autor.country}}
    </div> -->
</div>
