<div class="container" *ngIf="project">
  <h2>{{title}}</h2>

  <div class="message success" *ngIf="status == 'success'" >
    El proyecto se a creadoo corectamente, puedes verlo <a [routerLink]="['/proyecto', saveProject._id]">aqui</a>
  </div>

  <div class="message failed" *ngIf="">
    El proyecto no se a creadoo corectamente
  </div>

  <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required>

      <span class="form_error" *ngIf="name.touched && !name.valid">
        El nombe es obligatorio!
      </span>
    </p>

    <p>
      <label for="desc">Desc</label>
      <textarea name="desc" #desc="ngModel" [(ngModel)]="project.desc" required></textarea>

      <span class="form_error" *ngIf="desc.touched && !desc.valid">
        La descripcion es obligatoia!
      </span>
    </p>

    <p>
      <label for="category">Categoria</label>
      <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required>

      <span class="form_error" *ngIf="category.touched && !category.valid">
        La categoria es obligatoria!
      </span>
    </p>

    <p>
      <label for="year">Year</label>
      <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year">
    </p>

    <p>
      <label for="langs">Lenguajes utilizados</label>
      <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required>

      <span class="form_error" *ngIf="langs.touched && !langs.valid">
        Los lenguajes son obligatorios!
      </span>
    </p>

    <p>
      <label for="img">Imagen del proyecto</label>

      <span class="image" *ngIf="project.img" style="float: none;">

        <img src="{{url+'get-img/'+project.img}}" style="width: 200px; height:200px;" *ngIf="!project.img">
      </span><br>

      <input type="file" name="img" #img="ngModel" [(ngModel)]="project.img" (change)="fileChangeEvent($event)" >
    </p>
    <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid" >
  </form>
</div>
