<div class="title">
  <h1>{{title}}</h1>
  <h2>{{subTitle}}</h2>
  <p>{{email}}</p>
</div>
<article class="about">
  <h2>About me</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cumque, est sint praesentium sequi nobis quaerat harum dolorum debitis vel! Quos eum quod amet ad saepe sed culpa. Nemo, quia.
  Provident ratione maiores officia, minima soluta recusandae tenetur cumque enim. Necessitatibus corporis recusandae repellat! Repellendus consectetur ipsa perspiciatis aliquam dignissimos illum saepe numquam ex obcaecati, repudiandae laborum doloribus quisquam nostrum?
  Accusamus, quis corrupti odit totam modi quo animi, in a adipisci hic soluta molestiae. Mollitia dignissimos in id, fuga esse architecto! Esse asperiores repudiandae, magni perferendis porro in ea sunt.
  Aliquam, excepturi voluptatem. Modi, consectetur ex aliquid incidunt cum repellendus quidem fugit quas perspiciatis culpa sint eius exercitationem dolor reprehenderit dignissimos beatae debitis eaque repellat optio. Delectus quas vero deleniti!
  Dolorum pariatur aspernatur incidunt. Cupiditate temporibus, veniam quaerat repellat facilis odio. Sit non distinctio dolor natus iste labore facilis ex et rerum eligendi corporis, veritatis, repellendus ut inventore eum maiores?
</p>
</article>
